/* BreakPoint for specific Size*/
@mixin break($size) {
  @media (min-width: $size) {
    @content;
  }
}
/* BreakPoint for Small Screens */
@mixin break-s {
  @media (min-width: $break-small) {
    @content;
  }
}
/* BreakPoint for Medium Screens */
@mixin break-m {
  @media (min-width: $break-medium) {
    @content;
  }
}
/* BreakPoint for intermediate Screens */
@mixin break-i {
  @media (min-width: $break-intermedium) {
    @content;
  }
}
@mixin break-max-i {
  @media (max-width: $break-intermedium) {
    @content;
  }
}