header {
  max-width: 250px;
  width: 100%;
  background: $color-graylight;
  height: 100vh;
  //overflow-y: auto;
  border-right: 2px solid $color-darkblue;

  .header {
    &-profile {
      position: relative;
      &__section {
        border-bottom: 2px solid #d8d8d8;
        cursor: pointer;
        min-height: 245px;
        max-height: 245px;
        padding: 10px;
        img {
          display: block;
          width: 80%;
          margin: 0 auto 15px;
        }
        p {
          font-weight: bold;
          color: $color-blue;
          font-size: 20px;
          text-align: center;
          margin-bottom: 15px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 100%;
        }
      }
      &__options {
        position: absolute;
        background: $color-blue;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        display: none;
        scale: 0;
        transition: all 0.3s ease-in-out;
        &--open {
          display: block;
          scale: 1;
          transition: all 0.3s ease-in-out;
          @starting-style {
            scale: 0;
          }
        }
        * {
          color: $color-white;
        }
        a {
          display: block;
          padding: 10px 0;
          &:hover {
            background: $color-darkblue;
            color: $color-yellow;
          }
        }
      }
    }
  }

  nav {
    height: getBlockMargin(100vh, 245px);
    overflow-y: auto;
    @include customScrollBar($color-blue, $color-graylight);
    ul {
      list-style: none;
      padding: 0;
      li {
        //margin-bottom: 10px;
        a {
          display: block;
          padding: 10px;
          color: $color-black;
          text-decoration: none;
          &:hover {
            background: $color-darkblue;
            color: $color-yellow;
          }
        }
        .menu-toggle {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          color: $color-black;
          text-decoration: none;
          &:hover {
            background: $color-darkblue;
            color: $color-yellow;
          }
        }
        .submenu {
          list-style: none;
          padding: 0;
          margin: 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;
          @starting-style {
            max-height: 0;
          }
          &.open {
            max-height: 500px; // Ajusta este valor según el contenido
            transition: max-height 0.3s ease-in-out;
          }
          li {
            a {
              padding: 10px 20px;
              color: $color-black;
              text-decoration: none;
              &:hover {
                background: $color-darkblue;
                color: $color-yellow;
              }
            }
          }
        }
      }
    }
  }
}