.responsive-nav {
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  z-index: 8;
  background: white;
  color: $color-blue;
  box-shadow: 0 7px 7px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .logo-ctnr {
      display: block;
      width: 100px;
      img {
          display: block;
          width: 100%;
      }
  }
  #menu-btn {
      font-size: 25px;
      padding: 5px;
      transition: 0.3s;
      &:hover {
          cursor: pointer;
          color: $color-skyblue;
      }
  }
}