// Import all auth pages
.auth-layout {
    &__block {
        background: $color-header;
        border-radius: 10px;
        padding: 20px;
        min-height: getBlockMargin(100vh, 100px);
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @include break-m {
            margin: 0 0 0 auto;
            max-width: 350px;
        }
        h1 {
            text-align: center;
            margin-bottom: 10px;
        }
        @import 'login';

    }
}