&--menu {
  .options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .option {
      margin: 15px;
      min-width: 200px;
      height: 150px;
      background: $color-darkblue;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      text-decoration: none;
      border: 2px solid $color-yellow;
      box-shadow: 0 3px 7px 0 rgba(0,0,0,.12),inset 0 -1px 0 0 #dadce0;
      display: flex;
      align-items: center;

      &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background: $color-black;
      }
      &, * {
        color: $color-white;
      }
      &-wrapper {
        width: 100%;
        text-align: center;
      }
      i {
        font-size: 35px;
        margin-bottom: 10px;
      }
      &__title {
        font-size: 30px;
        padding-bottom: 10px;
        font-family: $font-headings;
      }
      &__count {
        font-size: 40px;
        padding: 15px 0;
      }
    }
  }
}