button,
.btn {
  border-radius: 5px;
  background: $color-darkblue;
  color: $color-white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 200px;
  border: none;
  &:hover {
    background: $color-skyblue;
    color: $color-white;
  }
  &--center {
    margin-left: auto;
    margin-right: auto;
  }
  &--secondary {
    background: $color-yellow;
    color: $color-black;
    &:hover {
      background: $color-black;
      color: $color-white;
    }
  }
  &--terciary {
    background: $color-white;
    color: $color-darkblue;
  }
  &--alert {
    background: red;
    color: $color-white;
  }
}

.wsp-msg {
  position: fixed;
  bottom: 22px;
  right: 60px;
  padding: 5px 10px;
  background: #ECE5DD;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  transform: scale(0);
  transform: translateX(200px);
  animation: 3s ease wspdsp;

  @keyframes wspdsp {
      0% {
          transform: translateY(100px) translateX(0px);
      }

      50% {
          transform: translateY(0px)
      }

      100% {
          transform: translateX(200px);
      }
  }
}