form {
    input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border-radius: 10px;
        border: 2px solid $color-skyblue;
        transition: 0.3s;
        &:disabled {
            background: $color-disabled;
        }
        &:focus {
            outline: none;
            border: 2px solid $color-darkblue;
        }
    }
    button {
        margin-top: 15px;
    }
}
.form {
    &--auth {
        button {
            position: relative;
            .fa-spinner {
                margin-left: 5px;
            }
        }
    }
    &__link {
        margin: 10px 0;
        text-align: center;
        a {
            font-weight: bold;
        }
    }
    &-message {
        text-align: center;
        font-weight: bold;
        margin-bottom: 15px;
        &--error {
            color: $color-alert;
        }
        &--success {
            color: $color-success;
        }
    }
}