/********************************************************
    The purpose of course.css is to house only the css
    specific to an individual course. The online.css
    houses all the default template formatting.
********************************************************/
/* DO NOT DELETE OR MODIFY THIS IMPORT */
@import url("https://content.byui.edu/integ/gen/599082e0-3e89-4fd9-ac69-2615865d63c7/0/online.css");

/* Add Course Specific css Below */

html {
  background: -webkit-radial-gradient(ellipse, #3d8095 0%, #15485f 100%) fixed;
  background: radial-gradient(ellipse, #3d8095 0%, #15485f 100%) fixed;
}
img {
  max-width: 100%;
}
h1 {
  color: #333333;
}

h2 {
  color: #2b6e8c;
}

h3 {
  color: #668e2e;
}

h4 {
  color: #2b6e8c;
}

h5 {
  color: #668e2e;
}

a {
  color: #497703;
  border-bottom: 2px solid #497703;
}

a:hover {
  color: #7b4c8d;
  border-bottom: 2px solid #7b4c8d;
}

a:visited {
  color: #7b4c8d;
  border-bottom: 2px solid #7b4c8d;
}
details {
  border: 1px solid;
  padding: 0.5em;
}
summary {
  font-size: 1.2rem;
}
#content {
  /* width: 90%; */
  max-width: 950px;
  margin: 0 auto;
  background-color: white;

  /* box-shadow: 0 0 12px #000000; */
}

.headerBanner {
  padding: 0.2em 0;
  background-color: #bbd8e4;
  font-family: "Lucida Console", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  text-transform: uppercase;
  letter-spacing: -4px;
}

.headerBanner > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.3em 0;
  padding: 0.3em;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}
.headerBanner h1 {
  color: #bbd8e4;
  font-size: 3.5em;
  margin: 5px;
  display: flex;
}
@media screen and (max-width: 500px) {
  .headerBanner h1 {
    font-size: 10vw;
  }
}
.headerBanner h1 > span {
  font-size: 0.6em;
  writing-mode: vertical-lr;

  transform: rotate(180deg);
  padding-top: 0.2em;
  margin-right: -0.2em;
}
.headerBanner h2 {
  align-self: flex-end;
  margin-right: 1.5em;
  margin-bottom: 5px;
  font-size: 2em;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  padding: 1em;
}
#footer {
  color: #e2e2e2;
  background-color: #356583;
}

/********************************************
    SPLASH PAGE STYLING
*********************************************/

.splash #article {
  color: #eaeaea;
  background-color: #1b3c4b;
}

.splash h1 {
  color: #dbdbdb;
}

.splash h2 {
  color: #50c1e6;
}

.splash h3 {
  color: #97d64f;
}

.splash h4 {
  color: #50c1e6;
}

.splash h5 {
  color: #97d64f;
}

.splash a {
  color: #97d64f;
  border-bottom: 2px solid #97d64f;
}

.splash a:hover {
  color: #c08fd3;
  border-bottom: 2px solid #c08fd3;
}

.splash a:visited {
  color: #c08fd3;
  border-bottom: 2px solid #c08fd3;
}

.splash #footer {
  color: #e2e2e2;
  background-color: #15303c;
}

.splash .highlight {
  color: #50c1e6;
}
/********************************************
    FEATURES STYLING
*********************************************/

/* Callout box */
.callout {
  color: #2c5f6f;
  background: #cbe1e8;
}

/* Drop downs */
.drop-down {
  background: #1f4f65;
}

.drop-down:hover {
  background: #255e78;
}

/* Rubric table */
/* Column headings */
.rubric tr:first-child th {
  background-color: #1f4f65;
}

/* Row headings */
.rubric th {
  background-color: #2c708f;
}

/* Mouseover popups */
#main .popup {
  border-bottom: dotted 2px #1f4f65;
}

#main .popup span {
  background: #1f4f65;
}

#main .popup:after {
  border-color: #1f4f65 transparent transparent transparent;
}

.highlight {
  color: #2c5f6f;
  font-weight: bold;
}
.fig-block {
  display: flex;
  flex-flow: row wrap;
  margin: 1em auto;
}

.fig-block > * {
  max-width: 100%;
  flex: 1 0 auto;
}

.fig-block figure {
  text-align: center;
}
.fig-block figure > a {
  text-decoration: none;
  border-bottom: none;
}
figcaption {
  font-size: 0.8em;
  text-align: center;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 2em;
}
.weeklist {
  list-style-type: none;
}
.weeklist li {
  counter-increment: step-counter;
}
.weeklist li::before {
  content: "Week " counter(step-counter) ": ";
}

code {
  color: #268bd2;
}
kbd {
  color: #b58900;
}

.bigSteps {
  list-style: none;
  counter-reset: my-counter;

  margin: 0;
  padding: 0;
}
.bigSteps > li {
  counter-increment: my-counter;

  margin-bottom: 0.5rem;
}

.bigSteps > li::before {
  content: counter(my-counter);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-family: "Impact", serif;
  line-height: 1;
}
.bigSteps > li:nth-child(-n + 9):before {
  content: "0" counter(my-counter);
}

.bigSteps ol {
  counter-reset: sub-counter;
  list-style: none;
}
.bigSteps ol > li {
  counter-increment: sub-counter;
  margin-bottom: 0.6em;
}
.bigSteps ol > li::before {
  content: counters(sub-counter, ".") ".";
  font-weight: bold;
  padding-right: 0.5em;
}

.bigSteps > li > h3,
.bigSteps > li > h2 {
  display: inline-block;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
